html,body {
  background-color: #0C2F3C;
  font-size: 1rem;
}

.navbar-color {
  background-color: #3C7D8D;
}

.navbar-link-color {
  color: #EFE1D4;
}

.page-header {
  margin-top: 3.5rem;
}

header {
  font-size: 1.5rem;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color: #0C2F3C;
}

header h2 {
  font-family: "Castoro Titling";
}

header p {
  font-family: "Montserrat";
  font-weight: 300;
}

.experience {
  background-color: #EFE1D4;
  color: #3C7D8D;
  font-size: 1.2rem;
}

.education {
  background-color: #3C7D8D;
  color: #EFE1D4;
  font-size: 1.2rem;
}

.education li {
  list-style-type: none;
}

footer {
  background-color: #EFE1D4;
  color: #3C7D8D;
  text-align: center;
  padding-bottom: 1.5rem;
}

footer h2 {
  margin-bottom: 1.5rem;
}

.small-p {
  font-size: 0.8rem;
}

.port-carousel {
  background-color: #3C7D8D;
}
